
body{
    margin: 0px;
    font-family: Poppins;
}
.page {
    min-height: 100vh;
    background-image: url('./imgs/bg.jpg');
    background-size: cover;
    background-position: center;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    
}